<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
                
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
        <link rel="stylesheet" th:href="@{/css/calendar.css}">

    <style>
        .item-name {
            font-size: 24px; /* 원하는 크기로 조정 */
            font-weight: bold; /* 글씨 두껍게 설정 */
        }

        .item-description {
            font-size: 18px; /* 원하는 크기로 조정 */
        }

        .item-price {
            font-size: 20px; /* 원하는 크기로 조정 */
        }
        
        .total-price {
            font-size: 18px; /* 원하는 크기로 조정 */
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <!-- 상단 메뉴바 -->
        <th:block th:replace="~{/layout/fragments :: header}"></th:block>
        
        <div class="footer-main-content">

            <div>
                <table class="scriptCalendar">
                    <thead>
                        <tr id="trHead">
                            <td class="calendarBtn" id="btnPrevCalendar">&#60;&#60;</td>
                            <td colspan="5"><span id="calYear">YYYY</span>년
                                <span id="calMonth">MM</span>월</td>
                            <td class="calendarBtn"
                                id="nextNextCalendar">&#62;&#62;</td>
                        </tr>
                        <tr id="weekDays">
                            <td>일</td>
                            <td>월</td>
                            <td>화</td>
                            <td>수</td>
                            <td>목</td>
                            <td>금</td>
                            <td>토</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div id="date" style="display: none;"></div>

                <!-- 이미지 URL 사용 -->
                <div class="area-card" style="display: none;">
                    <div class="card p-2" id="area1">
                        <label class="radio_label"
                            style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                            <input class="area-radio" type="radio"
                            id="area1_radio" name="area" value="1">
                            <span class="radio_icon"></span> <img
                            alt="campingzone1"
                            th:src="@{/images/calendar/calendar_campingzone1.gif}"
                            height="150px" width="200px"
                            style="margin: 0 10px;"> <span
                            class="radio_text"
                            style="font-size: 18px; margin-right: auto;"><strong>캠핑존 A-1</strong></span>
                            <span style="text-align: right;">40,000원~</span>
                        </label>
                    </div>
                    <div class="card p-2" id="area2">
                        <label class="radio_label"
                            style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                            <input class="area-radio" type="radio"
                            id="area2_radio" name="area" value="2">
                            <span class="radio_icon"></span> <img
                            alt="campingzone2"
                            th:src="@{/images/calendar/calendar_campingzone1.gif}"
                            height="150px" width="200px"
                            style="margin: 0 10px;"> <span
                            class="radio_text"
                            style="font-size: 18px; margin-right: auto;"><strong>캠핑존 A-2</strong></span>
                            <span style="text-align: right;">40,000원~</span>
                        </label>
                    </div>
                    <div class="card p-2" id="area3">
                        <label class="radio_label"
                            style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                            <input class="area-radio" type="radio"
                            id="area3_radio" name="area" value="3">
                            <span class="radio_icon"></span> <img
                            alt="campingzone3"
                            th:src="@{/images/calendar/calendar_campingzone1.gif}"
                            height="150px" width="200px"
                            style="margin: 0 10px;"> <span
                            class="radio_text"
                            style="font-size: 18px; margin-right: auto;"><strong>캠핑존 B-1</strong></span>
                            <span style="text-align: right;">40,000원~</span>
                        </label>
                    </div>
                    <div class="card p-2" id="area4">
                        <label class="radio_label"
                            style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                            <input class="area-radio" type="radio"
                            id="area4_radio" name="area" value="4">
                            <span class="radio_icon"></span> <img
                            alt="campingzone4"
                            th:src="@{/images/calendar/calendar_campingzone1.gif}"
                            height="150px" width="200px"
                            style="margin: 0 10px;"> <span
                            class="radio_text"
                            style="font-size: 18px; margin-right: auto;"><strong>캠핑존 B-2</strong></span>
                            <span style="text-align: right;">40,000원~</span>
                        </label>
                    </div>
                    <div class="card p-2" id="area5">
                        <label class="radio_label"
                            style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                            <input class="area-radio" type="radio"
                            id="area5_radio" name="area" value="5">
                            <span class="radio_icon"></span> <img
                            alt="campingzone5"
                            th:src="@{/images/calendar/calendar_campingzone1.gif}"
                            height="150px" width="200px"
                            style="margin: 0 10px;"> <span
                            class="radio_text"
                            style="font-size: 18px; margin-right: auto;"><strong>캠핑존 C</strong></span>
                            <span style="text-align: right;">40,000원~</span>
                        </label>
                    </div>
                </div>

                <!-- 라디오 버튼으로 기간 선택 -->
                <div class="card mt-2 p-2" id="night-card"
                    style="display: none;">
                    <div class="night-radio_label"
                        id="night-radio_label">
                        <h3> <strong>이용 기간</strong> </h3>
                        <br/>
                        <br/>
                        <div class="radio-options">
                            <label> <input class="night-radio"
                                type="radio" name="night" value="1">
                                <span class="night-radio_text">1박 2일</span>
                            </label> 
                            <label> <input class="night-radio"
                                type="radio" name="night" value="2">
                                <span class="night-radio_text">2박 3일</span>
                            </label>
                        </div>
                    </div>
                    <div class="m-3" id="price" style="text-align: right; color: #7C9C63; font-size: 25px;">
                        <span id="price-label">캠핑존 가격: </span> <span
                            id="price-value"></span>원
                    </div>
                </div>

                <!-- 아이템 테이블 -->
                <div class="m-3" id="items-table" style="display: none;">
                    <div class="container-fluid d-flex justify-content-center" style="margin-bottom: 30px;">
                        <h3><strong>대여 및 판매 물품</strong></h3>
                    </div>
                    <div class="container-fluid d-flex justify-content-center">
                        <table class="table">
                            <tbody>
                                <tr th:each="i : ${items}">
                                    <td class="img-container" style="width: 20%; font-weight: normal;">
                                        <img th:src="@{${i.itemImg}}" 
                                             th:alt="${i.itemName}"
                                             class="img"
                                             id="itemImg-${i.itemId}"
                                             style="height: 170px; width: 170px;" />
                                    </td>
                                    <td style="width: 20%; height: 10%; font-weight: normal;">
                                        <h5 class="item-name" th:text="${i.itemName}"></h5>
                                    </td>
                                    <td style="width: 20%; height: 10%; font-weight: normal;"
                                        class="item-description" th:text="${i.itemDesc}"></td>
                                    <td style="width: 20%; height: 10%; text-align: center; font-weight: normal;"
                                        class="item-price">
                                         <span th:text="${i.itemPrice}"></span>원
                                    </td>
                                    <td class="narrow" style="width: 20%; height: 10%; text-align: center; font-weight: normal;">
                                        <div class="quantity-controls">
                                            <select th:id="'quantity-' + ${i.itemId}" th:onchange="updateQuantity([[${i.itemId}]], [[${i.itemPrice}]])" autocomplete="off">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <!-- 필요한 경우 수량 옵션을 더 추가 -->
                                            </select>
                                        </div>
                                        <p />
                                        <div th:id="'total-' + ${i.itemId}" class="total-price">0원</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 아이템 총 가격을 표시할 공간 -->
                    <div class="card mt-2 p-2" style="border: none;">
                        <div class="m-3" id="sumOfAllItems" style="text-align: right; color: #7C9C63; font-size: 25px;">
                            <span id="totalSum">0원</span>
                        </div>
                    </div>

                    <!-- 요청사항 입력 -->
                    <div class="container-fluid d-flex justify-content-center mt-3 row" id="requirement">
                        <h3 class="col-2">요청사항</h3>
                        <textarea class="form-control col-10 m-3" id="special-requests" rows="3" placeholder="요청사항을 입력하세요" autocomplete="off"></textarea>
                    </div>

                    <!-- 전체 총 가격을 표시할 공간 -->
                    <div class="m-3" id="totalAllItems" style="display: none; justify-content: center; align-items: center; font-size: 24px; font-weight: bold; text-align: center;"></div>
                </div>

                <!-- 선택된 아이템들 리스트를 표시할 공간 -->
                <div id="selectedItemsList" style="display: none;"></div>

                <div class="container-fluid d-flex justify-content-center mb-5">
                    <button onclick="addNextPageEventListeners()" class="btn btnNextPage">다음 단계</button>
                </div>
                <br/><br/>
            </div>
        </div>
        
         <!-- 푸터 -->
        <th:block th:replace="~{/layout/fragments :: footer}"></th:block>
        </div>

        <!-- 부트 스트랩 JS -->
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
    
        <!-- Weather JS -->
        <th:block th:replace="~{/layout/fragments :: weatherJS}"></th:block>
        
        <!-- 캘린더 JS -->
        <script th:src="@{/js/calendar.js}"></script>
        
    <script>
        // JavaScript를 사용하여 날짜 입력 형식 제어
        document.getElementById('reservationForm').addEventListener('submit', function(event) {
            // Prevent form submission if validation fails
            if (!validateDateInput('resCheckIn') || !validateDateInput('resCheckOut')) {
                event.preventDefault();
            }
        });

        function validateDateInput(inputId) {
            var input = document.getElementById(inputId);
            var pattern = /^\d{4}-\d{2}-\d{2}$/;
            var isValid = pattern.test(input.value);
            if (!isValid) {
                input.setCustomValidity('Please enter a date in yyyy-mm-dd format.');
            } else {
                input.setCustomValidity('');
            }
            return isValid;
        }

        // 페이지가 로드될 때 콤보박스 초기화
        window.onload = function() {
            // 모든 콤보박스를 초기화합니다.
            var quantitySelects = document.querySelectorAll('select[id^="quantity-"]');
            quantitySelects.forEach(function(select) {
                select.selectedIndex = 0; // 첫 번째 옵션을 선택(값이 0인 옵션)
            });

            // 각 아이템의 총 가격도 0원으로 초기화
            var totalPrices = document.querySelectorAll('.total-price');
            totalPrices.forEach(function(totalPrice) {
                totalPrice.textContent = '0원';
            });

            // 전체 총 가격도 초기화
            document.getElementById('totalSum').textContent = '0원';
            
            // 요청사항 텍스트 영역 초기화
            document.getElementById('special-requests').value = '';
        };
    </script>
</body>
</html>