<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/introduce.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <th:block th:replace="~{/layout/fragments :: header}"></th:block>
        
        <div class="content">
            <!--  사이드바 -->
            <th:block th:replace="~{/layout/fragments :: intro-sidebar}"></th:block>
        
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="content-1 text-left mt-5">
                    <h1><strong>[ENUM 캠핑장 소개]</strong></h1>
                </div>
                <section class="facility-section">
                    <div id="slideshow" class="slider-container">
                        <ul class="imgs">
                            <li><img src="https://cdn.pixabay.com/photo/2020/08/21/15/04/tent-5506381_1280.jpg" alt="Image 1"></li>
                            <li><img src="https://cdn.pixabay.com/photo/2017/08/06/02/32/camp-2587926_1280.jpg" alt="Image 2"></li>
                            <li><img src="https://cdn.pixabay.com/photo/2017/08/07/18/28/night-2606510_1280.jpg" alt="Image 3"></li>
                        </ul>
                    </div>
                </section>
                <section>
                    <div class="container">
                        <div class="box box1">
                            <h2>1. 자연친화적</h2> <br>
                            <h3>ENUM 캠핑장은 자연친화적</h3>
                            <h3>공간으로 일상으로부터 벗어나</h3>
                            <h3>온전한 휴식이 가능합니다.</h3>
                        </div>
                        <div class="box box2">
                            <h2>2. 전 구역 데크존</h2> <br>
                            <h3>모든 구역이 데크존으로</h3>
                            <h3>이루어져 있어 프라이빗하게</h3>
                            <h3>자연을 즐기실 수 있습니다.</h3>
                        </div>
                        <div class="box box3">
                            <h2>3. 편의 시설</h2> <br>
                            <h3>화장실, 주차장, 식수대, 매점 등</h3>
                            <h3>다양한 편의시설을 자유롭고</h3>
                            <h3>편리하게 이용하실 수 있습니다.</h3>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <!-- 푸터 -->
        <th:block th:replace="~{/layout/fragments :: footer}"></th:block>
    </div>

    <!-- jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 부트 스트랩 JS -->
    <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
    <!-- Weather JS -->
    <th:block th:replace="~{/layout/fragments :: weatherJS}"></th:block>
    <!-- 슬라이더 동작을 위한 JavaScript -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    var slideIndex = 0;
    var slideCount = $('#slideshow ul.imgs li').length;

    function showNextSlide() {
        slideIndex++;
        if (slideIndex >= slideCount) {
            // 마지막 슬라이드에서 첫 번째 슬라이드로 전환
            slideIndex = 0;
        }
        $('#slideshow ul.imgs').css('transform', 'translateX(' + (-slideIndex * 100) + '%)');
    }

    // 첫 번째 슬라이드 복사본을 마지막에 추가
    var firstSlide = $('#slideshow ul.imgs li:first-child').clone();
    $('#slideshow ul.imgs').append(firstSlide);
    
    // 슬라이드 컨테이너의 너비를 조정
    $('#slideshow ul.imgs').css('width', ((slideCount + 1) * 100) + '%');

    setInterval(showNextSlide, 3000); // 3초마다 슬라이드 전환
});
</script>
</body>
</html>
