<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/facilities.css}">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{/layout/fragments :: header}"></th:block>
	<div class="footer-main-content">
    <th:block th:replace="~{/layout/fragments :: intro-sidebar}"
    	th:attr="class='intro-sidebar'"></th:block>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="content-1 text-left mt-5">
                <h1><strong>[편의시설]</strong></h1>
            </div>
			<br>
            <div class="content-2" style="margin-right: 35px;">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="facilities-card">
                            <h5>개수대</h5>
                            <div class="fc-img-container">
                                <img alt="sink" th:src="@{/images/intro/intro2_sink.jpg}" class="img img-fluid"
                                    id="sinkImage" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="facilities-card">
                            <h5>샤워실</h5>
                            <div class="fc-img-container">
                                <img alt="shower" th:src="@{/images/intro/intro2_shower.jpg}" class="img img-fluid"
                                    id="showerImage" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="facilities-card">
                            <h5>화장실</h5>
                            <div class="fc-img-container">
                                <img alt="toilet" th:src="@{/images/intro/intro2_toilet.jpg}" class="img img-fluid"
                                    id="toiletImage" />
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="facilities-card">
                            <h5>바베큐장</h5>
                            <div class="fc-img-container">
                                <img alt="barbecue" th:src="@{/images/intro/barbecue.gif}"
                                    class="img img-fluid"
                                    id="barbecueImage" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="facilities-card">
                            <h5>캠프파이어존</h5>
                            <div class="fc-img-container">
                                <img alt="campfire" th:src="@{/images/intro/campfire.gif}" class="img img-fluid"
                                    id="campFireImage" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="facilities-card">
                            <h5>매점</h5>
                            <div class="fc-img-container">
                                <img alt="store" th:src="@{/images/intro/intro2_store.png}" class="img img-fluid"
                                    id="storeImage" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Structure -->
            <div class="modal" id="imageModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle">편의시설</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item" data-title="개수대">
                                        <img th:src="@{/images/intro/intro2_sink.jpg}" class="d-block w-100 img-fluid" alt="Sink">
                                    </div>
                                    <div class="carousel-item" data-title="샤워실">
                                        <img th:src="@{/images/intro/intro2_shower.jpg}" class="d-block w-100 img-fluid" alt="Shower">
                                    </div>
                                    <div class="carousel-item" data-title="화장실">
                                        <img th:src="@{/images/intro/intro2_toilet.jpg}" class="d-block w-100 img-fluid" alt="Toilet">
                                    </div>
                                    <div class="carousel-item active" data-title="바베큐장">
                                        <img th:src="@{/images/intro/barbecue.gif}" class="d-block w-100 img-fluid" alt="Barbecue">
                                    </div>
                                    <div class="carousel-item" data-title="캠프파이어존">
                                        <img th:src="@{/images/intro/campfire.gif}" class="d-block w-100 img-fluid" alt="campFire">
                                    </div>
                                    <div class="carousel-item" data-title="매점">
                                        <img th:src="@{/images/intro/intro2_store.png}" class="d-block w-100 img-fluid" alt="Store">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    </div>

    <!-- 푸터 -->
    <th:block th:replace="~{/layout/fragments :: footer}"></th:block>
</div>

<!-- 부트 스트랩 JS -->
<th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>

<script th:src="@{/js/facilities.js}"></script>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const images = document.querySelectorAll('.img');
    
    images.forEach((image, index) => {
        image.addEventListener('click', (event) => {
            const imgIndex = index;
            const carouselElement = document.getElementById('carouselExampleControls');
            const carousel = new bootstrap.Carousel(carouselElement);

            // 먼저 Carousel을 해당 인덱스로 이동
            carousel.to(imgIndex);

            // 슬라이드 이동 후에 제목을 업데이트
            carouselElement.addEventListener('slid.bs.carousel', function onSlide(e) {
                const activeItem = carouselElement.querySelector('.carousel-item.active');
                const newTitle = activeItem.getAttribute('data-title');
                document.getElementById('modalTitle').textContent = newTitle;

                // 이벤트 리스너 중복 등록 방지
                carouselElement.removeEventListener('slid.bs.carousel', onSlide);
            });

            // 이후 모달을 표시
            const modal = new bootstrap.Modal(document.getElementById('imageModal'));
            modal.show();
        });
    });

    // Carousel의 슬라이드가 변경될 때 제목을 업데이트
    const carouselElement = document.getElementById('carouselExampleControls');
    carouselElement.addEventListener('slide.bs.carousel', function (e) {
        const activeItem = e.relatedTarget;
        const newTitle = activeItem.getAttribute('data-title');
        document.getElementById('modalTitle').textContent = newTitle;
    });
});

</script>

<!-- Weather JS -->
<th:block th:replace="~{/layout/fragments :: weatherJS}"></th:block>
</body>
</html>
