<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    <link rel="stylesheet" th:href="@{/css/password_check.css}">
</head>
<body>
    <div class="container">
        <h2 class="text-center">PW 확인</h2>
        <form th:action="@{/mypage/password_check}" method="post">
            <div class="mb-3">
                <label for="password" class="form-label">PW</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-custom w-100">확인</button>
        </form>
        <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
    </div>

   <!-- 부트 스트랩 JS -->
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
        
        <!-- Weather JS -->
        <th:block th:replace="~{/layout/fragments :: weatherJS}"></th:block>
</body>
</html>
