<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/sidebar.css}">
<link rel="stylesheet" th:href="@{/css/mypage_qna_details.css}">
<!-- Bootstrap CSS -->
<link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css"
    rel="stylesheet">

<style>
.card h2 {
    color: #7C9C63;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #7C9C63;
    padding-bottom: 0.5rem;
}
.btn-register {
    border-color: #7C9C63;
    color: #7C9C63;
}

.btn-register:hover {
    border-color: #7C9C63;
    background-color: #7C9C63;
    color: white;
}

.btnList {
    border-radius: 5px;
    border-color: #7C9C63;
    background-color: #fff;
    color: #7C9C63;
}

.btnList:hover {
    background-color: #708b58; /* hover 상태에서 약간 밝은 색상으로 변경 */
    border-color: #708b58;
    color: white;
}

</style>
</head>
<body>

    <div class="wrapper">
        <!-- 상단 메뉴바 -->
        <th:block th:replace="~{/layout/fragments :: header}"></th:block>

        <div class="footer-main-content">
            <th:block th:replace="~{/layout/fragments :: mypage-sidebar}"></th:block>
            
            <div class="details-container-fluid">
            <main>
            	<div class="qna-details-container">

                    <!-- 알림 메시지 표시 -->
                    <th:block th:if="${session.message}">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <span th:text="${session.message}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </th:block>

					<div class="mt-10 card">
                    <div class="card-header" style="background-color: white;">
                        <h2 th:text="${qna.title}"></h2>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mt-2">
                                <label for="id"
                                    class="form-label">번호</label> 
                                    <input id="id" class="form-control"
                                    type="text" name="id"
                                    th:value="${qna.id}"
                                    readonly />
                            </div>
                            <div class="mt-2">
                                <label for="content" class="form-label">내용</label>
                                <textarea id="content"
                                    class="form-control" rows="5"
                                    th:text="${qna.content}"
                                    readonly></textarea>
                            </div>
                            <div class="mt-2">
                                <label for="createdTime"
                                    class="form-label">작성 시간</label> <input
                                    id="createdTime"
                                    class="form-control" type="text"
                                    th:value="${#temporals.format(qna.createdTime, 'yyyy-MM-dd HH:mm:ss')}"
                                    readonly />
                                    
                            </div>
                            <div class="mt-2">
                                <label for="modifiedTime"
                                    class="form-label">최종 수정 시간</label>
                                <input id="modifiedTime"
                                    class="form-control" type="text"
                                    th:value="${#temporals.format(qna.modifiedTime, 'yyyy-MM-dd HH:mm:ss')}"
                                    readonly />
                            </div>
                            
                                <!-- 비밀글 체크박스, 관리자 또는 작성자인 경우에만 표시 -->
                                <th:block th:if="${userRole == 0 || signedInUser == qna.qnaUserId}">
                                    <div class="mt-2 form-check">
                                        <input class="form-check-input" type="checkbox" id="qnaLock" name="qnaLock" th:checked="${qna.qnaLock == 1}" disabled>
                                        <label class="form-check-label" for="qnaLock"> 비밀글 </label>
                                    </div>
                                </th:block>
                                                        
                            <a class="btn btnList"
                                style="align-items: right"
                                th:href="@{/mypage/qna_list(userId=${qna.qnaUserId})}">목록보기</a>
                        </form>
                    </div>
                </div>

						<!-- 로그인 사용자 아이디와 작성자 아이디가 같은 경우에만 수정하기 버튼을 보여줌 -->
<!-- 						<th:block
							th:if="${signedInUser != null and signedInUser == qna.author}">
							<a class="btn btn-outline-primary" style="float: right"
								th:href="@{/community/qna/modify(id=${qna.author})}">수정하기</a>
						</th:block> -->
						
							<a class="btn btn-modify btn-outline-primary" style="float: right"
								th:href="@{/mypage/qna_modify(id=${qna.id})}">수정하기</a>
						

						<!-- 답변 목록 -->
<!--                     <div id="answersContainer" style="font-size: 1.2em;">
                        <th:block th:each="answer : ${answers}">
                            <div class="answer">
                                <p th:text="${answer.content}"></p>
                                <small>작성자: <span th:text="${answer.author}"></span></small><br>
                                <small>작성시간: <span th:text="${answer.createdTime}"></span></small>
                            </div>
                        </th:block>
                    </div> -->
                    <div class="mt-5" id="answersContainer" style="font-size: 1.2em;">
                            <div class="answer">
                                <p th:text="${qna.content}"></p>
                                <small>작성자: <span th:text="${qna.qnaUserId}"></span></small><br>
                                <small>작성시간: <span th:text="${qna.createdTime}"></span></small>
                            </div>
                    </div>
                    

                    <!-- 답변 등록 폼 -->
<!--                     <th:block th:if="${userRole == 0}">
                        <div class="mt-2 d-flex align-items-center">
                            <div class="flex-grow-1 me-3">
                                <textarea class="form-control flex-grow-1" rows="2" id="answerContent" placeholder="답변을 작성해주세요" style="font-size:1.1em;"></textarea>
                            </div>
                            <button class="btn btn-register" style="font-size:1.5em;" id="btnRegisterAnswer">답변 등록</button>
                        </div>
                    </th:block>   -->  
                    
                        <div class="mt-2 d-flex align-items-center">
                            <div class="flex-grow-1 me-3">
                                <textarea class="form-control flex-grow-1" rows="2" id="answerContent" placeholder="답변을 작성해주세요" style="font-size:1.1em;"></textarea>
                            </div>
                            <button class="btn btn-register" style="font-size:1.5em;" id="btnRegisterAnswer">답변 등록</button>
                        </div>
                
                </div>
            </main>
			</div>
        </div>

        <!-- 푸터 -->
        <th:block th:replace="~{/layout/fragments :: footer}"></th:block>
    </div>
    <!-- 부트 스트랩 JS -->
    <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>

    <!-- Weather JS -->
    <th:block th:replace="~{/layout/fragments :: weatherJS}"></th:block>

</body>
</html>