<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
        <th:block th:replace="~{/layout/fragments :: header}"></th:block>
        <div class="footer-main-content">
            <th:block th:replace="~{/layout/fragments :: mypage-sidebar}"></th:block>
            <div class="container-fluid">
                <main>
                    <div class="card">
                        <h2 class="qna-title">문의내역</h2>
                        <div class="card-body">

                            <table class="table table-hover">
                                <colgroup>
                                    <col style="width: 25%;">
                                    <col style="width: 25%;">
                                    <col style="width: 25%;">
                                    <col style="width: 25%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>문의 번호</th>
                                        <th>제목</th>
                                        <th>수정시간</th>
                                        <th>답변 상태</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:forEach items="${qnalist}"
                                        var="q">
                                        <th:url var="qnaDetails"
                                            value="/user/qna_details">
                                            <th:param name="qnaPostId"
                                                value="${q.qnaPostId}"></th:param>
                                            <th:param name="userId"
                                                value="${user.userId}" />
                                        </th:url>
                                        <tr
                                            onclick="location.href='${qnaDetails}'"
                                            style="cursor: pointer;">
                                            <td>${q.qnaPostId}</td>
                                            <td>${q.qnaTitle}</td>
                                            <td>${q.qnaModifiedTime}</td>
                                            <td><th:if
                                                    test="${q.qnaState == 0}">
                                                    <span
                                                        style="color: red;">답변대기</span>
                                                </th:if> <th:if
                                                    test="${q.qnaState == 1}">
                                                    <span
                                                        style="color: blue;">답변완료</span>
                                                </th:if></td>
                                        </tr>
                                    </th:forEach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>
            </div>
    		<!-- 푸터 -->
    		<th:block th:replace="~{/layout/fragments :: footer}"></th:block>
        </div>
        
        <!-- 부트 스트랩 JS -->
		<th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>

		<!-- Weather JS -->
		<th:block th:fragment="~{/layout/fragments :: weatherJS}"></th:block>
</body>
</html>