<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/notice_list.css}">
<link rel="stylesheet" th:href="@{/css/sidebar.css}">
<!-- Bootstrap CSS -->
<link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css"
    rel="stylesheet">
</head>
<body>

    <div class="wrapper">
        <!-- 상단 메뉴바 -->
        <th:block th:replace="~{/layout/fragments :: header}"></th:block>

        <div class="footer-main-content">
            <th:block th:replace="~{/layout/fragments :: community-sidebar}"></th:block>
            <main>
                <div class="mt-10 card">
                    <div class="card-header"
                        style="background-color: white;">
                        <h2 th:text="${notice.title}"></h2>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mt-2">
                                <label for="id" class="form-label">번호</label>
                                <input
                                    id="id" class="form-control"
                                    type="text" name="id"
                                    th:value="${notice.id}"
                                    readonly />
                            </div>
                            <div class="mt-2">
                                <label for="content" class="form-label">내용</label>
                                <textarea id="content"
                                    class="form-control" rows="5"
                                    th:text="${notice.content}"
                                    readonly></textarea>
                            </div>
                            <div class="mt-2">
                                <label for="createdTime"
                                    class="form-label">작성 시간</label> <input
                                    id="createdTime"
                                    class="form-control" type="text"
                                    th:value= "${#temporals.format(notice.createdTime,'yyyy-MM-dd HH:mm:ss')}"
                                    readonly />
                            </div>
                            <div class="mt-2">
                                <label for="modifiedTime"
                                    class="form-label">최종 수정 시간</label>
                                <input id="modifiedTime"
                                    class="form-control" type="text"
                                    th:value= "${#temporals.format(notice.modifiedTime,'yyyy-MM-dd HH:mm:ss')}"
                                    readonly />
                            </div>
                        </form>
                    </div>
                    <div >
                        <div style="padding-left:16px; display: flex; justify-content: space-between;">
                            <a class="btn btn-outline-primary" th:href="@{/community/notice/list}">목록보기</a>
                            <div sec:authorize="isAuthenticated()">
                                <div th:if="${#authentication.name == 'admin'}" style="display: flex; justify-content: flex-end;">
                                    <button id="btnDelete" type="button"
                                        class="btn btn-outline-danger" style="margin-right: 10px;">삭제하기</button>
                                    <a class="btn btn-outline-primary" th:href="@{/community/notice/modify(id=${notice.id})}">수정하기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    

                </div>

            </main>

        </div>

        <!-- 푸터 -->
        <th:block th:replace="~{/layout/fragments :: footer}"></th:block>
    </div>
    
    <script th:src="@{/js/notice_delete.js}"></script>
    <!-- 부트 스트랩 JS -->
    <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>

    <!-- Weather JS -->
    <th:block th:replace="~{/layout/fragments :: weatherJS}"></th:block>

</body>
</html>