<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/notice_list.css}">
<link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>
    <div class=" wrapper">
        <!-- 상단 메뉴바 -->
        <th:block th:replace="~{/layout/fragments :: header}"></th:block>

        <div class="footer-main-content">
            <th:block th:replace="~{/layout/fragments :: community-sidebar}"></th:block>
            <main>
                <div class="card">
                    <div class="card-header" style="background-color: white;">
                        <h1 class="text-center">공지사항</h1>
                    </div>
                    <div class="card-body ">
                        <form class="mt-2" th:action="@{/community/notice/search}"
                            action="${noticeSearchPage }">
                            <div class="row">
                                <div class="col-2 search">
                                    <select class="form-control text-center"
                                        name="category">
                                        <option value="t">제목</option>
                                        <option value="c">내용</option>
                                        <option value="tc">제목+내용</option>
                                    </select>
                                </div>
                                <div class="col-6 search">
                                    <input class="form-control"
                                        type="text" name="keyword"
                                        placeholder="검색어 입력" required />
                                </div>
                                <div class="col-2 search">
                                    <input type="submit" 
                                        class="form-control btn btn-outline-primary "
                                        value="검색" />
                                </div>
                                <div class="col-2">
                                    <button type="button" id="allList"
                                        class="form-control btn btn-outline-primary"
                                        th:onclick="|location.href='@{/community/notice/list}'|">전체
                                        목록</button>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr style="text-align: center;">
                                    <th class="num">번호</th>
                                    <th>제목</th>
                                    <th>수정시간</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="n : ${notices}"
                                    th:onclick="|location.href='@{/community/notice/details(id=${n.id})}'|"
                                    style="cursor: pointer; text-align: center;">
                                    <td class="col-2 num" th:text="${n.id}"></td>
                                    <td class="col-7"
                                        th:text="${n.title}"></td>
                                    <td class="col-3" th:text="*{#temporals.format(n.modifiedTime,'yyyy-MM-dd HH:mm:ss')}"></td> 
                                </tr>
                                    <tr th:if="${#lists.isEmpty(notices)}">
                                        <td colspan="3" class="text-center">일치하는 결과가 없습니다</td>
                                    </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    
                    <div th:if="${#authentication.name == 'admin'}" class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                        <button type="button" onclick="location.href ='create'"
                            class="btn btn-outline-primary" >공지사항 작성</button>
                    </div>

                </div>

            </main>
        </div>
        <!-- 푸터 -->
        <th:block th:replace="~{/layout/fragments :: footer}"></th:block>
    </div>
    
    <!-- 부트 스트랩 JS -->
    <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
    
    <!-- Weather JS -->
    <th:block th:replace="~{/layout/fragments :: weatherJS}"></th:block>

</body>
</html>