<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
                
        <link rel="stylesheet" th:href="@{/css/header.css}">
    </head>
    <body>
        <!-- 상단 메뉴바 -->
        <th:block th:replace="~{/layout/fragments :: header}"></th:block>
    
        <main style="margin: 5% auto; width: 100%; max-width: 700px;">
            <div class="container">
                <div class="card my-4">
                    <div class="card-body">
                        <form action="#" th:action="@{/user/signup}"
                            method="post">
                            <div class="text-center mb-4">
                                <h1>회원가입</h1>
                            </div>
    
                            <div class="row mb-3 align-items-center">
                                <label for="user_id"
                                    class="col-md-3 col-form-label">아이디</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control"
                                        id="user_id" name="userId"
                                        placeholder="아이디" required autofocus />
                                </div>
                                <div class="col-md-3">
                                    <button type="button"
                                        id="checkUseridbutton"
                                        class="btn btn-outline-success w-100">중복
                                        확인</button>
                                </div>
                            </div>
    
                            <!-- userid 중복 체크 결과 표시할 영역 -->
                            <div id="checkUseridResult"></div>
                            <div id="useridValidationMessage"></div>
    
                            <div class="row mb-3 align-items-center">
                                <label for="user_password"
                                    class="col-md-3 col-form-label">비밀번호</label>
                                <div class="col-md-9">
                                    <input type="password"
                                        class="form-control"
                                        id="user_password"
                                        name="userPassword"
                                        placeholder="영문/숫자/특수문자(공백 제외)만 허용하며, 2개 이상 조합"
                                        required />
                                </div>
                            </div>
    
                            <!-- 비밀번호 조건 체크 결과 표시할 영역 -->
                            <div id="passwordValidationMessage"></div>
    
                            <div class="row mb-3 align-items-center">
                                <label for="user_confirmpassword"
                                    class="col-md-3 col-form-label">비밀번호
                                    확인</label>
                                <div class="col-md-9">
                                    <input type="password"
                                        class="form-control"
                                        id="user_confirmpassword"
                                        name="confirmpassword"
                                        placeholder="비밀번호 확인" required />
                                </div>
                            </div>
    
                            <!-- 비밀번호 일치 여부 체크 결과 표시할 영역 -->
                            <div id="passwordMatchMessage"></div>
    
                            <div class="row mb-3 align-items-center">
                                <label for="user_name"
                                    class="col-md-3 col-form-label">이름</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control"
                                        id="user_name" name="userName"
                                        placeholder="이름" required />
                                </div>
                            </div>
    
                            <div class="row mb-3 align-items-center">
                                <label for="user_phone"
                                    class="col-md-3 col-form-label">핸드폰
                                    번호</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control"
                                        id="user_phone" name="userPhone"
                                        placeholder="01X-XXX(또는 XXXX)-XXXX 형식으로 입력하세요."
                                        required />
                                </div>
                                <div id="checkUserPhoneResult"></div>
                            </div>
    
                            <div class="row mb-3 align-items-center">
                                <label for="user_email"
                                    class="col-md-3 col-form-label">이메일</label>
                                <div class="col-md-9">
                                    <input type="email" class="form-control"
                                        id="user_email" name="userEmail"
                                        placeholder="예) enum@enum.com"
                                        required />
                                </div>
                                <div id="checkUserEmailResult"></div>
                            </div>
    
                            <!-- 가입하기 버튼 -->
                            <div class="text-center mb-3">
                                <button id="btnSignUp"
                                    class="btn btn-outline-success w-100"
                                    type="submit">가입하기</button>
                            </div>
    
                            <div class="text-center">
                                <h6>이미 계정이 있으신가요?</h6>
                                <a href="#" th:href="@{/signin}" id="login"
                                    class="btn btn-outline-success">로그인</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>



    <!-- 부트 스트랩 JS -->
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
        
        <!-- Weather JS -->
        <th:block th:replace="~{/layout/fragments :: weatherJS}"></th:block>
    </body>
    
</html>