/* styles.css */

header {
    padding: 0 20px; /* 상하 여백 추가 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

header a {
    font-size: 2.5rem; /* 제목 크기 */
    color: black; /* 헤더 텍스트 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

#top {
    height: auto;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

#top .nav-link {
    font-size: 1.2rem;
    margin-right: 30px;
}

#top .nav-link:last-child {
    font-size: 1.2rem;
    margin-right: 0px;
}

#top .nav-link:hover {
    font-weight: bold;
}

.navbar-nav .nav-link {
    transition: color 0.3s, font-weight 0.3s; /* 트랜지션 추가 */
}

.main {
    height: auto; /* 높이를 자동으로 조정 */
    padding: 20px 0;
}

.main .nav-link {
    font-size: 1.2rem; /* 네비게이션 바 링크의 폰트 크기 */
    padding: 10px 20px; /* 네비게이션 바 링크의 패딩 */
    text-align: center; /* 텍스트 가운데 정렬 */
    display: block; /* 블록 레벨 요소로 변경 */
}

.navbar-nav .subMenu {
    display: none; /* 서브 메뉴 초기에는 숨김 */
    position: absolute;
    background-color: white; /* 서브 메뉴 배경색 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, .1); /* 그림자 효과 */
    z-index: 1000;
    list-style-type: none; /* 서브 메뉴 불릿 제거 */
    padding-left: 0; /* 서브 메뉴 패딩 제거 */
}

.navbar-nav .nav-item:hover .subMenu {
    display: block; /* 부모 요소에 호버 시 서브 메뉴 표시 */
    color: #8bac6f;
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
    color: #8bac6f;
}

.navbar-nav .subMenu li {
    width: 100%; /* 서브 메뉴 너비 */
}

.navbar-nav .subMenu a {
    color: #333; /* 서브 메뉴 링크 색상 */
    padding: 10px; /* 서브 메뉴 링크 안 여백 */
    display: block; /* 링크를 블록 요소로 표시 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.navbar-nav .subMenu a:hover {
    /* 링크 호버 시 배경색 및 텍스트 색상 변경 */
    background-color: #f0f0f0;
    color: #8bac6f;
}

.noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nav-item-main {
	margin-left: 2rem;
}

body, nav, aside, main {
    font-family: "Noto Sans KR", sans-serif;
}

#logo-img {
	height: 60px; 
    width: 200px; 
}

/* 반응형 */

@media ( min-width : 768px) {
    .navbar-links {
        flex: 1 1 100%; /* 70% 너비, flex-grow, flex-shrink 설정 */
        display: flex;
        justify-content: center;
    }
    .navbar-user {
        flex: 1 1 30%; /* 30% 너비, flex-grow, flex-shrink 설정 */
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 1200px) {
    #top .nav-link {
        margin-right: 20px; /* 중간 화면 크기에서 마진 줄이기 */
    }

}

@media (max-width: 992px) {
    #top .nav-link {
        margin-right: 15px; /* 작은 화면에서 마진 더 줄이기 */
    }
    
    .menu {
    	font-size: 0.8rem;
    }
    
    .nav-item a {
    	font-size: 0.8rem;
    }
    
    p {
    	font-size: 0.8rem;
    }
    
    #logo-img {
    	height: 30px;
    	width: 100px;
    }

}

@media (max-width: 768px) {
    #top .nav-link {
        margin-right: 10px; /* 아주 작은 화면에서 마진 최소화 */
        font-size: 1.1rem; /* 폰트 크기 약간 줄이기 */
    }
    
    #logo-img {
		height: 60px; 
    	width: 200px; 
	}
}