@charset "UTF-8";

/* 큰 화면에 적용될 스타일 */
.table {
    width: 80%;
    font-size: 18px; /* 큰 화면에서의 기본 글씨 크기 */
}

.table th {
    font-size: 18px; /* 큰 화면에서의 헤더 글씨 크기 */
}

.table td {
    font-size: 18px; /* 큰 화면에서의 데이터 셀 글씨 크기 */
}



/*반응형 테이블*/
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#custom-responsive-table table, 
	#custom-responsive-table thead, 
	#custom-responsive-table tbody, 
	#custom-responsive-table th, 
	#custom-responsive-table td, 
	#custom-responsive-table tr { 
		display: block; 
	}
 
 	#custom-responsive-table table {
 		font-size: 18px;
 	}
 	
	/* Hide table headers (but not display: none;, for accessibility) */
	#custom-responsive-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
		
	}
 
	#custom-responsive-table tr { 	
		border: none;
	}
 
 	#custom-responsive-table th { 	
		font-weight: bold;
	}
 
	#custom-responsive-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 70%; /*컬럼위치조정*/
		white-space: nowrap; /* 한줄로 표시 */
		text-align:center;
	}
 
	#custom-responsive-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:center;
		font-weight: bold;
		
	}
 	 	
	/*
	Label the data
	*/
	#custom-responsive-table td:before { content: attr(data-title); }
	
	
	/* 작은 화면에서 .facilities-section, .facilities-card, .main-content 스타일 적용 */
    .facilities-section {
       display: grid;
       grid-template-columns: 1fr 1fr; /* 작은 화면에서 카드가 나란히 2개씩 배치되도록 설정 */
       gap: 10px; /* 카드 사이의 간격 설정 */
    }
    
    .facilities-card {
        min-width: 100%; /* 작은 화면에서 카드가 화면을 가득 채우도록 설정 */
    }

    .main-content {
        margin-left: 0 !important; /* 사이드바가 제거되었을 때 레이아웃 보정 */
        width: 100%;
        padding: 0 15px;
    }
}

/* 작은 화면에서 카드가 한 줄에 1개씩 배치되도록 설정 */
@media only screen and (max-width: 500px) {
    .facilities-section {
       grid-template-columns: 1fr; /* 카드가 한 줄에 하나씩 배치되도록 설정 */
    }
    
}