@charset "UTF-8";

.facility-section {
    padding: 20px;
}

.slider-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.slider {
    width: 100%;
    max-width: 1300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    width: 100%;
    height: 600px;
}

.div {
    color: #000000;
    text-align: left;
    font-family: "NotoSansKr-DemiLight", sans-serif;
    font-size: 30px;
    letter-spacing: -0.8px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}

.horizontal-divider, .horizontal-divider2 {
    background: #ebebeb;
    width: 100%;
    height: 1px;
    margin: 10px 0;
}

.descriptions, .descriptions2, .horizontal-border, .horizontal-border1 {
    border-top: 1px solid #ebebeb;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
}

.term, .term2 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}

.details, .details2, .details3 {
    font-size: 20px;
    color: #666666;
}

.background, .background2 {
    background: #f8f9fa;
    padding: 20px;
    width: 100%;
    margin: 20px 0;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.div7 {
    color: #111111;
    text-align: left;
    font-family: "NotoSansKr-DemiLight", sans-serif;
    font-size: 26px;
    letter-spacing: -1px;
    font-weight: bold;
}