@charset "UTF-8";

.qna-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.details-container-fluid {
    flex: 1;
    padding: 20px;
    margin-left: 148px;
}

.qna-details-container {
    margin: 2rem auto;
	padding: 2rem;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: calc(100% - 220px); /* 전체에서 사이드바의 너비를 뺀 너비 */
}

.qna-details-container h2 {
    color: #7C9C63;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #7C9C63;
    padding-bottom: 0.5rem;
}

.form-label {
    font-weight: bold;
    color: #495057;
}

.form-control {
    margin-bottom: 1rem;
}

.form-control:read-only {
    background-color: #fff;
}

#qnaContent {
    min-height: 150px;
}

.card-footer {
    background-color: transparent;
    border-top: none;
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end; /* 버튼들을 오른쪽으로 정렬 */
}

.btn {
    margin-left: 0.5rem;
}

.btn-list {
    color: #6B8B56;
    border-color: #6B8B56;
}

.btn-list:hover {
    color: white;
    background-color: #6B8B56;
}

.answer {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.qna-answers-container,
.qna-comment-container {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.qna-answers-container h2,
.qna-comment-container h2 {
    color: #7C9C63;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #7C9C63;
    padding-bottom: 0.5rem;
}

#answersContainer .answer {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

#answersContainer {
    margin-top: 2rem; /* 수정하기 버튼과 간격 확보 */
}

.qna-content {
	display: flex;
}

.btn-modify {
	margin-top: 5px;
}

/* 반응형 */

@media (max-width: 768px) {

    .details-container-fluid {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .qna-details-container {
        width: 100%; /* 작은 화면에서는 너비를 100%로 설정 */
        margin: 0; /* 여백 제거 */
        padding: 1rem; /* 패딩을 줄여서 작은 화면에서도 여유 공간을 확보 */
        box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 계산 */
    }

    .card {
        width: 100%; /* 카드가 화면 전체 너비를 차지하게 설정 */
        margin: 0; /* 여백 제거 */
        box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기 계산 */
        padding: 1rem; /* 패딩을 줄여서 작은 화면에서도 여유 공간을 만듦 */
    }

    .card-body {
        width: 100%; /* 테이블이 카드 안에서 꽉 차도록 설정 */
        overflow-x: auto; /* 내용이 넘칠 경우 가로 스크롤 허용 */
    }
    
}