<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/fragments :: documentHeader}"></th:block>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/price.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>

<div class="wrapper">
    <th:block th:replace="~{layout/fragments :: header}"></th:block>
    <div class="footer-main-content">
        <th:block th:replace="~{layout/fragments :: admin-sidebar}"></th:block>
        <main>
            <!-- 아이템 테이블 -->
            <div class="card" id="items-table">
                <div class="container-fluid d-flex justify-content-center" style="margin-bottom: 30px;">
                    <h3><strong>물품 목록 (특가 가격)</strong></h3>
                </div>

                <!-- 퍼센트 적용-->
                <div style="display: flex; gap: 15px; justify-content: flex-end;">
                    <input style="width: 10%;" id="percent" class="form-control" type="number"/>
                    <span style="font-size: 1.2em; line-height: 1.5;">%</span>
                    <button class="btn btn-outline-primary" id="btnApplyPlus">인상</button>
                    <button class="btn btn-outline-danger" id="btnApplyMinus">인하</button> |
                    <button class="btn btn-outline-success" id="btnApplyAllCheck">특가 전체선택</button>
                    <button class="btn btn-outline-secondary" id="btnApplyAllUnCheck">특가 전체해제</button> |
                    <button class="btn btn-outline-info" id="btnApplyCallPrice">정상가격으로 되돌리기</button>
                </div>
                <div class="justify-content-center">
                    <form id="modifyFormItems" class="modifyForm" action="/enumcamping/admin/price/itemsSpecial/update"
                          method="post">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>이름</th>
                                <th>설명</th>
                                <th>정상 가격</th>
                                <th>특가 가격</th>
                                <th>특가 유무</th>
                            </tr>
                            </thead>
                            <tbody>
    <tr th:each="i, iterStat : ${items}"
        th:if="${i.itemId >= 21 && i.itemId <= 32}" 
        th:classappend="${iterStat.index % 4 == 3} ? 'border-bottom border-dark' : ''">
        <td class="item-id col-1 d-none" th:text="${i.itemId}"></td>
        <td class="item-name col-2" th:text="${i.itemName}">
        </td>
        <td class="item-description col-4">
            <input class="form-control" type="text" style="width:100%; border: 0;"
                   th:name="'desc_' + ${i.itemId}" th:value="${i.itemDesc}"/>
        </td>
        <td class="item-price col-3">
            <div style="display: inline-flex; align-items: center; justify-content: center;">
                <!-- 정상 가격 설정 -->
                <input class="form-control" type="text" style="width:40%; border: 0; text-align: right;"
                       th:name="'price_' + ${i.itemId}" 
                       th:value="${latestPricesWithSpecialZero != null ? latestPricesWithSpecialZero[i.itemId] : ''}"
                       readonly/>
                <span>원</span>
            </div>
        </td>
        <td class="item-special-price col-3">
            <div style="display: inline-flex; align-items: center; justify-content: center;">
                <!-- 특가 가격 설정 -->
                <input class="form-control" type="text" style="width:40%; border: 0; text-align: right;"
                       th:name="'specialPrice_' + ${i.itemId}"
                       th:value="${combinedPrices != null ? combinedPrices[i.itemId] : ''}" />
                <span>원</span>
            </div>
        </td>
        <td class="item-select col-1">
            <input type="checkbox" th:name="'select_' + ${i.itemId}" th:checked="${i.special == 1} ? 'checked' : null"/>
        </td>
    </tr>
</tbody>
                        </table>
                        <div class="card-footer" style="background-color: white; display: flex; justify-content: flex-end;">
                            <input type="hidden" name="redirectUrl" value="/admin/price/items/update">
                            <button class="btn btn-outline-primary" id="btnApplyItems" type="button">적용</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <th:block th:replace="~{layout/fragments :: footer}"></th:block>
</div>

<script th:src="@{/js/price_items.js}"></script>
<th:block th:replace="~{layout/fragments :: bootstrapJS}"></th:block>
<th:block th:replace="~{layout/fragments :: weatherJS}"></th:block>
</body>
</html>
