<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/sidebar.css}">
<link rel="stylesheet" th:href="@{/css/mypage_qna_details.css}">
<!-- Bootstrap CSS -->
<link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css"
    rel="stylesheet" />


<style>
.card h2 {
    color: #7C9C63;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #7C9C63;
    padding-bottom: 0.5rem;
}
.btn-register {
    border-color: #7C9C63;
    color: #7C9C63;
}

.btn-register:hover {
    border-color: #7C9C63;
    background-color: #7C9C63;
    color: white;
}

.btnList {
    border-radius: 5px;
    border-color: #7C9C63;
    background-color: #fff;
    color: #7C9C63;
}

.btnList:hover {
    background-color: #708b58; /* hover 상태에서 약간 밝은 색상으로 변경 */
    border-color: #708b58;
    color: white;
}

</style>
<!-- <script th:inline="javascript">
    var signedInUser = /*[[${signedInUser != null ? '"' + signedInUser + '"' : '""'}]]*/ "";
    var userRole = /*[[${userRole != null ? '"' + userRole + '"' : '""'}]]*/ "";
    console.log('signedInUser:', signedInUser);  // 콘솔에 로그인 사용자 출력
    console.log('userRole:', userRole);  // 콘솔에 userRole 출력
</script> -->


<!-- <script th:inline="javascript">
    // 로그인 사용자와 역할 정보를 JavaScript 변수로 전달
    var signedInUser = /*[[${signedInUser}]]*/ "";
    var userRoleRaw = /*[[${userRole}]]*/ "";
    console.log('signedInUser:', signedInUser);  // 콘솔에 로그인 사용자 출력
    console.log('userRoleRaw:', userRoleRaw);  // 콘솔에 userRole 출력
</script> -->
 
 <!-- 로그인 사용자와 역할 정보를 JavaScript 변수로 전달 -->
<script th:inline="javascript">
    var signedInUser = /*[[${signedInUser != null ? '"' + signedInUser + '"' : '""'}]]*/ "";
    var userRoleRaw = /*[[${userRole != null ? userRole : '[]'}]]*/ [];
    var authenticatedUser = /*[[${authenticatedUser != null ? '"' + authenticatedUser + '"' : '""'}]]*/ "";
    console.log('authenticatedUser:', authenticatedUser);  // 콘솔에 authenticatedUser 출력
    console.log('signedInUser:', signedInUser);  // 콘솔에 로그인 사용자 출력
    console.log('userRoleRaw:', userRoleRaw);  // 콘솔에 userRole 출력
</script>
 
</head>
<body>

    <div class="wrapper">
        <!-- 상단 메뉴바 -->
        <th:block th:replace="~{/layout/fragments :: header}"></th:block>

        <div class="footer-main-content">
            <th:block th:replace="~{/layout/fragments :: community-sidebar}"></th:block>
            
            <div class="container-fluid">
            <main>
            	<div class="qna-details-container">

                        <!-- 알림 메시지 표시 -->
                        <th:block th:if="${message}">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span th:text="${message}"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </th:block>
					<!-- 상세 정보는 접근이 허용된 경우에만 표시 -->
                    <div th:if="${accessDenied != true}">
					<div class="mt-10 card" th:object="${post}">
                    <div class="card-header" style="background-color: white;">
                        <h2 th:text="${qna.title}"></h2>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mt-2">
                                <label for="id"
                                    class="form-label">번호</label> 
                                    <input id="id" class="form-control"
                                    type="text" name="id"
                                    th:value="${qna.id}"
                                    readonly />
                            </div>
                            <div class="mt-2">
                                <label for="content" class="form-label">내용</label>
                                <textarea id="content"
                                    class="form-control" rows="5"
                                    th:text="${qna.content}"
                                    readonly></textarea>
                            </div>
                            <div class="mt-2">
                                <label for="createdTime"
                                    class="form-label">작성 시간</label> <input
                                    id="createdTime"
                                    class="form-control" type="text"
                                    th:value="${#temporals.format(qna.createdTime, 'yyyy-MM-dd HH:mm:ss')}"
                                    readonly />
                                    
                            </div>
                            <div class="mt-2">
                                <label for="modifiedTime"
                                    class="form-label">최종 수정 시간</label>
                                <input id="modifiedTime"
                                    class="form-control" type="text"
                                    th:value="${#temporals.format(qna.modifiedTime, 'yyyy-MM-dd HH:mm:ss')}"
                                    readonly />
                            </div>
                            
                                <!-- 비밀글 체크박스, 관리자 또는 작성자인 경우에만 표시 -->
                                <th:block th:if="${userRole == 0 || signedInUser == qna.qnaUserId}">
                                    <div class="mt-2 form-check">
                                        <input class="form-check-input" type="checkbox" id="qnaLock" name="qnaLock" th:checked="${qna.qnaLock == 1}" disabled>
                                        <label class="form-check-label" for="qnaLock"> 비밀글 </label>
                                    </div>
                                </th:block>
                               
                               <input type="hidden" id="currentPage" name="currentPage" th:value="${pageNo}">
                                                                        
                            <a class="btn btnList"
                                style="align-items: right"
                                th:href="@{/community/qna/list(p=${currentPage}, category=${category}, keyword=${keyword})}">
                                목록보기</a>
                        </form>
                    </div>
                </div>

						<!-- 로그인 사용자 아이디와 작성자 아이디가 같은 경우에만 수정하기 버튼을 보여줌 -->
 						<th:block
							th:if="${signedInUser != null and signedInUser == qna.qnaUserId}">
							<a class="btn btn-outline-primary" style="float: right"
								th:href="@{/community/qna/modify(id=${qna.id})}">수정하기</a>
						</th:block> 
					
					
		<!-- 답변 작성/목록  -->
<!-- 		<th:block th:if="${signedInUser != null}">
        <div class="mt-2 card">
            <div class="card-body collapse" id="collapseQnAAnswers">
                답변 작성
                <div class="row">
                    <div class="col-10">
                        <textarea class="form-control" id="QnAAnswersText" rows="3"
                            placeholder="답변 내용 작성"></textarea>
                        
                        답변 작성자를 로그인 사용자 이름으로 설정
                        <input class="d-none" id="QnAAnswersUserId" th:value="${#authentication.name}" readonly />
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-success form-control"
                            id="btnRegisterQnAAnswers">등록</button>
                    </div>
                </div>
                
                답변 목록
                <div class="mt-2" id="divQnAAnswers"></div>
            </div>
        </div>
        </th:block> -->
  		
  		<div th:if="${!qna.isSecret() || (signedInUser != null && (signedInUser == qna.qnaUserId || userRole == 'ROLE_ADMIN'))}" id="divQnaAnswers">
								<div id="divQnaAnswers">
									<!-- 댓글 목록 표시 -->
								</div>
							</div>
							<!-- 숨겨진 필드를 사용하여 userRole 값을 전달 -->
                    		<input type="hidden" id="userRole" th:value="${userRole}"/>
							
							<!-- 관리자 권한이 없을 경우 메시지 출력 -->
							<th:block
								th:if="${#lists.isEmpty(userRole) || userRole[0].authority != 'ROLE_ADMIN'}">
								<p>관리자 권한이 없습니다.</p>
							</th:block>

							<th:block th:if="${userRole == 'ROLE_ADMIN'}">
								<p>관리자 권한 확인됨.</p>
							</th:block>

							<!-- 관리자만 댓글 등록 가능 -->
							<th:block th:if="${!#lists.isEmpty(userRole) && userRole[0].authority == 'ROLE_ADMIN'}">
								<div class="mt-2 card" id="qnaAnswerCard" >
									<div class="card-body">
										<div class="row">
											<div class="col-10">
												<textarea class="form-control" id="qnaAnswersText" rows="3"
													placeholder="답변 내용 작성"></textarea>
													<span id="authenticatedUser" th:text="${authenticatedUser}"></span>
												<input class="d-none" id="qnaAnswersUserId"
													th:value="${signedInUser}" readonly />
											</div>
											<div class="col-2">
												<button class="btn btn-outline-success form-control"
													id="btnRegisterQnaAnswers">등록</button>
											</div>
										</div>
									</div>
									</div>
							 </th:block>								
							</div>
							


						</div>
                
                </div>
            </main>
			</div>
        </div>

        <!-- 푸터 -->
        <th:block th:replace="~{/layout/fragments :: footer}"></th:block>
    </div>
	
    <!-- 부트 스트랩 JS -->
    <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>

    <!-- Weather JS -->
    <th:block th:fragment="~{/layout/fragments :: weatherJS}"></th:block>
		
		<!-- Ajax를 사용하기 위한 Axios 자바스크립트 라이브러리 -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        
        <!-- 댓글 기능을 위한 자바스크립트 -->
        <script th:src="@{/js/qna_answer.js}"></script>
</body>
</html>