<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    
    <c:url value="/css/header.css" var="headerCSS" />
    <link rel="stylesheet" href="${headerCSS}">
</head>
<body>
    <th:block th:replace="~{/layout/fragments :: header}"></th:block>
    <section id="gallery" class="gallery">
            <div class="container-fluid ">
                <div id="carouselExampleIndicators "
                    class="carousel slide carousel-fade" data-bs-pause="false"
                    data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="0" class="active" aria-current="true"
                            aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner ">
                        <div class="carousel-item active">
                            <img src="images/main/camp1.jpg" class="d-block w-100 "
                                alt="Camping site 1 " height=964px;>
                            <div class="carousel-caption d-md-black my-5"></div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/main/camp2.jpg" class="d-block w-100 "
                                alt="Camping site 2" height=964px;>
                            <div class="carousel-caption d-md-black my-5"></div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/main/camp3.jpg" class="d-block w-100 "
                                alt="Camping site 3" height=964px;>
                            <div class="carousel-caption d-md-black my-5"></div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/main/camp4.jpg" class="d-block w-100 "
                                alt="Camping site 4" height=964px;>
                            <div class="carousel-caption d-md-black my-5 "></div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/main/camp5.jpg" class="d-block w-100 "
                                alt="Camping site 5" height=964px;>
                            <div class="carousel-caption d-md-black my-5"></div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        
        <!-- 캠핑장 간단소개 -->
        <section class="content">
            <div
                style="margin-left: 200px; padding-top: 200px; padding-left: 50px; padding-right: 50px;">
                <div class="row">
                    <div>
                        <h2 class="notice-h"
                            style="width: 90%; text-align: start; padding-bottom: 10px; margin-left: 0px; font-weight: bold;">
                            소 개</h2>
                    </div>
                    <div class="col-md-4">
                        <img src="images/main/main-camp.jpg"
                            style="margin-top: 10px; width: 500px; height: 400px;"
                            alt="Main Camping Image"> <span class="border-end"></span>
                    </div>
                    <div class="col-md-8 ">
                        <h1 style="text-align: start; color: #8baf6f; font-weight: bold;">자연 속에서의 휴식</h1>
                        <br />
                        <p>Enum Camping은 자연 속에서 편안한 휴식을 제공합니다.</p>
                        <p>넓은 공간과 풍부한 자연 경관이 매력적인 이 캠핑장에서는 언제든지 편안하게 쉴 수 있습니다.
                        <p>캠프파이어를 즐기며 별빛 아래에서 휴식을 취하거나, 아침 산책을 통해 상쾌한 시작을 맞이할 수 있습니다.</p>
                        <p>또한, 다양한 체험 프로그램이 마련되어 있어, 방문객 여러분들 모두가 즐거운 시간을 보낼 수 있습니다.</p>
                        <p>Enum Camping은 환경 보호를 중요시하며, 지속 가능한 캠핑을 지향합니다.</p>
                        <p>방문객 여러분께서도 자연을 존중하며 즐거운 캠핑을 즐길 수 있도록 협조 부탁드립니다.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 공지사항 -->
        <section id="notice" class="section-content"
            style="margin-left: 240px; padding-top: 100px; padding-bottom: 100px;">
            <div class="container" style="margin-left: 200px;">
                <div class="row ">
                    <div class="col-md-5 mt-3 justify-content-md-center"
                        style="color: #8baf6f;">
                        <h2 class="notice-h" style=" font-weight: bold;">공지사항</h2>
                        <div class=" card border-0 border-light mt-15">
                            <div class="card-body">
                                <h5 class="card-title">공지사항</h5>
                                <p class="card-text">중요공지입니다</p>
                                <br/>
                                <a href="/semiproject/community/notice/details?id=1"
                                    class="stretched-link" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 mt-3" style="color: #8baf6f;">
                        <h2 class=" notice-h"style=" font-weight: bold;">이벤트</h2>
                        <div class="card border-0 border-light mt-15">
                            <div class="card-body">
                                <h5 class="card-title ">이넘 캠핑장 오픈 이벤트</h5>
                                <p class="card-text">오픈 특가! 회원가입 후 첫 예약 고객님께는 오로라 가루 1개를 증정해 드립니다!</p>
                                <a href="/semiproject/community/notice/details?id=2"
                                    class="stretched-link" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
</body>
</html>